<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>SPA Table Test</title>
    <link rel="stylesheet" href="/css/style.css" media="screen">
  </head>
  <body ng-app="tableApp" ng-controller="mainCtrl" ng-cloak>
    <div class="app-wrapper">
      <div class="table-container">
      <table>
        <caption>Practical Task</caption>
        <thead>
          <tr>
            <th class="table-header" ng-repeat="header in tableHeaders" ng-click="sort(header.type)">{{header.name}}
              <span ng-show="orderType == header.type">
                <span ng-show="orderReverse"><i class="material-icons">keyboard_arrow_up</i></span>
                <span ng-hide="orderReverse"><i class="material-icons">keyboard_arrow_down</i></span>
              </span>
              <span class="order" ng-class="{ordered: orderType == header.type, reverse: orderReverse}"></span>
            </th>

            <!-- Reserved for buttons -->
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="contact in contacts | orderBy:orderType:orderReverse">
            <td ng-repeat="title in tableHeaders">{{contact[title.type]}}</td>
            <td>
              <input id="checkContact{{$index}}" type="checkbox" class="checkContact" ng-change="checkboxFilter(contact)" ng-model="contact.checked">
              <label for="checkContact{{$index}}">
                <i class="material-icons">more_vert</i>
              </label>
            </td>
            <td class="contact-action" ng-show="contact.checked">
              <button class="btn" ng-model="contact.edit" ng-click="showOptions(contact)">Edit</button>
              <button class="btn" ng-model="contact.remove" ng-click="removeContact(contact)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <button class="btn btn-lrg" name="newContact" ng-disabled="showForm" ng-click="showOptions()">Add New</button>
      </div>
      <hr>
      <div class="form-container" ng-show="showForm">
        <!-- Start of Form -->
        <form name="mainForm" ng-submit="formSubmit()" novalidate>
          <!-- First Name -->
          <div class="input-container">
            <input class="" type="text" ng-class="{warn : mainForm.firstName.$error.pattern}" ng-model="inputs.firstName" name="firstName" ng-pattern="patterns.words" placeholder="First Name" required>
            <div class="warn-msg">Only words and hyphen between!</div>
          </div>
          <!-- Last Name -->
          <div class="input-container">
            <input class="" type="text" ng-class="{warn : mainForm.lastName.$error.pattern}" ng-model="inputs.lastName" name="lastName" ng-pattern="patterns.words" placeholder="Last Name" required>
            <div class="warn-msg">Only words and hyphen between!</div>
          </div>
          <!-- Phone -->
          <div class="input-container">
            <input class="" type="tel" ng-class="{warn : mainForm.phone.$error.pattern}" ng-model="inputs.phone" name="phone" ng-pattern="patterns.phone" placeholder="Phone" required>
            <div class="warn-msg">Numbers only! min 7 max 10</div>
          </div>
          <!-- Gender radio buttons set -->
          <div class="input-container">
            <p>Gender</p>
            <label ng-class="{active : inputs.gender == 'male'}" for="male">
              Male
              <input id="male" class="radiobtn" type="radio" ng-model="inputs.gender" value="male" name="gender" required>
            </label>
            <label ng-class="{active : inputs.gender == 'female'}" for="female">
              Female
              <input id="female" class="radiobtn" type="radio" ng-model="inputs.gender" value="female" name="gender" required>
            </label>
            <div class="warn-msg" ng-show="mainForm.gender.$error.required">Gender is required!</div>
          </div>

          <!-- Age -->
          <div class="input-container">
            <input class="" type="number" min="1" max="99" ng-class="{warn : mainForm.age.$error.pattern}" ng-model="inputs.age" name="age" ng-pattern="patterns.age" placeholder="Age" required>
            <div class="warn-msg">Numbers only! min 1 max 99</div>
          </div>

          <!-- Save and Reset buttons -->
          <button type="submit" class="ng-empty btn btn-lrg" name="submit" ng-disabled="mainForm.$invalid || mainForm.$error.required">Save</button>
          <button type="button" class="ng-empty btn btn-lrg" name="reset" ng-click="formReset()">Reset</button>
          <button type="button" class="btn btn-lrg" name="cancel" ng-show="showForm" ng-click="clearForm()">Close</button>
        </form>

        <div class="form-background" ng-click="clearForm()"></div>
      </div>
    <!-- End of Form -->
    </div>
    <!-- Angular and controller load -->
    <script src="/node_modules/angular/angular.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
